<a href="https://colab.research.google.com/github/Chewye/datatalks/blob/main/DataTalks_hw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [251]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [252]:
from google.colab import drive
drive.mount('/content/gdrive/')
data_filepath = "/content/gdrive/MyDrive/data/housing.csv"
data = pd.read_csv(data_filepath)

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [253]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [254]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [255]:
data['total_bedrooms'] = data.fillna(0).values

In [256]:
data['rooms_per_household'] = data['total_rooms'] / data['households']
data['bedrooms_per_room'] = data['total_bedrooms'] / data['total_rooms']
data['population_per_household'] = data['population'] / data['households']
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,-122.23,37.88,41.0,880.0,-122.23,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,-0.138898,2.555556
1,-122.22,37.86,21.0,7099.0,-122.22,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,-0.017217,2.109842
2,-122.24,37.85,52.0,1467.0,-122.24,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,-0.083327,2.802260
3,-122.25,37.85,52.0,1274.0,-122.25,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,-0.095958,2.547945
4,-122.25,37.85,52.0,1627.0,-122.25,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,-0.075138,2.181467

In [257]:
data['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

# **Question 1**
What is the most frequent observation (mode) for the column ocean_proximity? - <1H OCEAN

In [258]:
col_cat = list(data.columns)
col_cat.remove('ocean_proximity')

In [259]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   longitude                 20640 non-null  float64
 1   latitude                  20640 non-null  float64
 2   housing_median_age        20640 non-null  float64
 3   total_rooms               20640 non-null  float64
 4   total_bedrooms            20640 non-null  object
 5   population                20640 non-null  float64
 6   households                20640 non-null  float64
 7   median_income             20640 non-null  float64
 8   median_house_value        20640 non-null  float64
 9   ocean_proximity           20640 non-null  object
 10  rooms_per_household       20640 non-null  float64
 11  bedrooms_per_room         20640 non-null  object
 12  population_per_household  20640 non-null  float64
dtypes: float64(10), object(3)
memory usage: 2.0+ MB

In [260]:
data[['total_bedrooms', 'bedrooms_per_room']] = data[['total_bedrooms', 'bedrooms_per_room']].astype(float)

In [261]:
corr_matrix  = data[col_cat].corr()
corr_matrix

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household,bedrooms_per_room,population_per_household
longitude,1.000000,-0.924664,-0.108197,0.044568,1.000000,0.099773,0.055310,-0.015176,-0.045967,-0.027540,-0.000727,0.002476
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.924664,-0.108785,-0.071035,-0.079809,-0.144160,0.106389,-0.005242,0.002366
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.108197,-0.296244,-0.302916,-0.119034,0.105623,-0.153277,-0.025433,0.013191
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.044568,0.857126,0.918484,0.198050,0.134153,0.133798,0.118371,-0.024581
total_bedrooms,1.000000,-0.924664,-0.108197,0.044568,1.000000,0.099773,0.055310,-0.015176,-0.045967,-0.027540,-0.000727,0.002476
population,0.099773,-0.108785,-0.296244,0.857126,0.099773,1.000000,0.907222,0.004834,-0.024650,-0.072213,0.107473,0.069863
households,0.055310,-0.071035,-0.302916,0.918484,0.055310,0.907222,1.000000,0.013033,0.065843,-0.080598,0.122033,-0.027309
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.015176,0.004834,0.013033,1.000000,0.688075,0.326895,0.026821,0.018766
median_house_value,-0.045967,-0.144160,0.105623,0.134153,-0.045967,-0.024650,0.065843,0.688075,1.000000,0.151948,0.023164,-0.023737
rooms_per_household,-0.027540,0.106389,-0.153277,0.133798,-0.027540,-0.072213,-0.080598,0.326895,0.151948,1.000000,0.037405,-0.004852
bedrooms_per_room,-0.000727,-0.005242,-0.025433,0.118371,-0.000727,0.107473,0.122033,0.026821,0.023164,0.037405,1.000000,-0.099368
population_per_household,0.002476,0.002366,0.013191,-0.024581,0.002476,0.069863,-0.027309,0.018766,-0.023737,-0.004852,-0.099368,1.000000

**Question 2**: Features with biggest correlation - population and households

In [262]:
data['above_average'] = np.where(data['median_house_value'] > data['median_house_value'].mean(), 1, 0)

In [263]:
from sklearn.model_selection import train_test_split
df_full_train, df_test = train_test_split(data, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [264]:
len(df_train), len(df_val), len(df_test)

(12384, 4128, 4128)

In [265]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [266]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

y_train_ = df_train.median_house_value.values
y_val_ = df_val.median_house_value.values
y_test_ = df_test.median_house_value.values

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [267]:
from sklearn.metrics import mutual_info_score

In [268]:
round(mutual_info_score(df_train.above_average, df_train.ocean_proximity), 2)

0.1

**Question 3** What is the value of mutual information? - 0.10

In [269]:
del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [270]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [271]:
train_dicts = df_train.to_dict(orient='records')

In [272]:
dv = DictVectorizer(sparse=False)

In [273]:
X_train = dv.fit_transform(train_dicts)

In [274]:
val_dicts = df_val.to_dict(orient='records')

In [275]:
X_val = dv.fit_transform(val_dicts)

In [277]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)

In [278]:
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [279]:
X_train.shape

(12384, 16)

In [280]:
X_val.shape

(4128, 16)

In [281]:
y_pred_val = model.predict(X_val)
y_pred_val

array([0, 0, 1, ..., 1, 1, 0])

In [282]:
res = round(accuracy_score(y_val, y_pred_val), 2)
res

0.84

**Question 4:** Accuracy of the model - 0.84

In [283]:
result = []
for i in range(X_train.shape[1]):
  X_train_ = np.delete(X_train, i, 1)
  X_val_ = np.delete(X_val, i, 1)
  model.fit(X_train_, y_train)
  result.append(round(accuracy_score(y_val, model.predict(X_val_)), 2))
print(*result)

0.84 0.83 0.83 0.83 0.84 0.78 0.84 0.84 0.84 0.83 0.84 0.83 0.84 0.84 0.84 0.84

In [284]:
feature = list(data.columns)[:8]

In [285]:
for i in range(7):
  print(f'{feature[i]}: {result[i] - res}')

longitude: 0.0
latitude: -0.010000000000000009
housing_median_age: -0.010000000000000009
total_rooms: -0.010000000000000009
total_bedrooms: 0.0
population: -0.05999999999999994
households: 0.0

**Question 5** Which of following feature has the smallest difference? - total_bedrooms

In [294]:
a = [0, 0.01, 0.1, 1, 10]

In [295]:
from sklearn.linear_model import  Ridge
from sklearn.metrics import mean_squared_error

In [296]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [309]:
for i in a:
  model = Ridge(alpha=i, solver="sag", random_state=42)
  model.fit(X_train, np.log2(y_train_))
  y_pred = model.predict(X_val)
  print(f'a = {i}, RMSE = {round(mean_squared_error(np.log2(y_val_), y_pred), 3)}')

a = 0, RMSE = 0.6
a = 0.01, RMSE = 0.6
a = 0.1, RMSE = 0.6
a = 1, RMSE = 0.6
a = 10, RMSE = 0.6