In [4]:
import numpy as np
import pandas as pd

In [5]:
# 1
np.__version__

'1.21.5'

In [6]:
data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [7]:
# 2
data.shape[0]

11914

In [8]:
# 3
data['Make'].value_counts().index[:3]

Index(['Chevrolet', 'Ford', 'Volkswagen'], dtype='object')

In [9]:
 #4
data[data['Make'] == 'Audi']['Model'].unique().shape

(34,)

In [10]:
#5
(data.isnull().sum() != 0).sum()

5

In [11]:
#6
median_cyl = data['Engine Cylinders'].median()
mode_cyl = data['Engine Cylinders'].mode()
data['Engine Cylinders'] = data['Engine Cylinders'].fillna(mode_cyl)
median_fill = data['Engine Cylinders'].median()
print(f'before fill: median {median_cyl}, mode {mode_cyl} \nafter fill: median {median_fill}')

before fill: median 6.0, mode 0    4.0
Name: Engine Cylinders, dtype: float64
after fill: median 6.0

In [12]:
#7
df = data[data['Make'] == 'Lotus']
df = df[["Engine HP", "Engine Cylinders"]].drop_duplicates()
df

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [13]:
X = df.to_numpy()
XTX = np.linalg.inv(np.dot(X.T, X))
XTX

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [14]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w = np.dot(np.dot(XTX, X.T), y)
w[0]

4.594944810094551